.logo
    display: inline-block

.navigations
    display: inline-block

.head
    display: flex
    flex-direction: row

.content
    display: flex
    flex-direction: row

    +r(800)
        flex-direction: column

.news
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 15px
    margin-bottom: 45px

    +r(975)
        grid-template-columns: repeat(2, 1fr)

    +r(750)
        grid-template-columns: repeat(1, 1fr)