---
title: Layman politics, blog about poloitics
---
{% extends "layouts/_layout.html" %}

{% block content %}
    {# partial example #}
    {% include "partials/blocks/_header.html" %}

    <main class="content">
        <div class="content__promo">

            {% include "partials/blocks/_hero.html" %}

            {% include "partials/blocks/_news.html" %}

            {% include "partials/blocks/_articles.html" %}

        </div>

        {% include "partials/blocks/_aside.html" %}
        
    </main>

{% endblock %}
