			<header class="header">
				<div class="header_hottest">
					<span class="header_hottest-label">
						hotest
					</span>
					<a href="#" class="header_hottest-head">
						The bloodied bodies lay stuffed and tangled in the back of a pick up like garbage.
					</a>
				</div>
				<div class="header_main">
					<a href="./" class="logo"></a>
					<div class="header_links">
						<div class="header_terms">
							<ul class="links">
								<li>
									<a href="#" class="header_terms-link">privacy policy</a>
								</li>
								<li>
									<a href="#" class="header_terms-link">advertise</a>
								</li>
								<li>
									<a href="#" class="header_terms-link">terms and conditions</a>
								</li>
							</ul>
						</div>
						<nav class="main_nav">
							<ul class="links">
								<li>
									<a href="#" class="main_nav-link">Main street</a>
								</li>
								<li>
									<a href="#" class="main_nav-link">washington dc</a>
								</li>
								<li>
									<a href="#" class="main_nav-link">wall street</a>
								</li>
								<li>
									<a href="#" class="main_nav-link">statewide</a>
								</li>
								<li>
									<a href="#" class="main_nav-link">politics</a>
								</li>
								<li>
									<a href="#" class="main_nav-link">just a bill</a>
								</li>
								<li>
									<a href="#" class="main_nav-link">video</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="hamburger_wraper js-btn menu-open">
						<div class="hamburger_item"></div>
					</div>
				</div>
				<div class="mobile_menu disabled">
					<div class="header_links">
						<div class="header_terms">
							<ul class="links">
								<li>
									<a href="#" class="header_terms-link">privacy policy</a>
								</li>
								<li>
									<a href="#" class="header_terms-link">advertise</a>
								</li>
								<li>
									<a href="#" class="header_terms-link">terms and conditions</a>
								</li>
							</ul>
						</div>
						<nav class="main_nav">
							<ul class="links">
								<li>
									<a href="#" class="main_nav-link">Main street</a>
								</li>
								<li>
									<a href="#" class="main_nav-link">washington dc</a>
								</li>
								<li>
									<a href="#" class="main_nav-link">wall street</a>
								</li>
								<li>
									<a href="#" class="main_nav-link">statewide</a>
								</li>
								<li>
									<a href="#" class="main_nav-link">politics</a>
								</li>
								<li>
									<a href="#" class="main_nav-link">just a bill</a>
								</li>
								<li>
									<a href="#" class="main_nav-link">video</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>

			</header>