{% set 
articles = [
	{
		img: './img/news_5.jpg',
		title: 'In syria "brother of a whore" gets tossed like trash',
        description: 'As crackdowns against anti-government protesters.',
		text: 'A federal judge in Ohio ruled Monday that former Rep. Dteve Driehaus Defamation suit. In case that could test the bounds
				of free speech? a former Democratic congressman has been allowed to proceed with his lawsuit against a prominent pro-life
				group that he claims contributed to his election defeat by spreading falsehoods about his record on abortion issues.',
		comments: '12'
	},
	{
		img: './img/news_6.jpg',
		title: 'Gruesome video shoes syria brutality',
        description: 'As crackdowns against anti-government protesters continue across.',
		text: 'In case that could test the bounds of free speech, a former Democratic congressman has been allowed to proceed withhislawsuit
				agaginst a prominent pro-life group that he claims contributed to his election defeat by spreading falsehoods about
				his record on abortion issues. A federal judje in Ohio ruled Monday that former Reo. Steve Driehaus defamation suit.',
		comments: '12'
	}
]
%}