{% set 
news = [
	{
		img: './img/news_1.jpg',
		title: 'CNN could not verify the authenticity',
		text: 'The bloodied bodies lay stuffed and tanglad in the back of a pickup like garbage.',
		comments: '12'
	},
	{
		img: './img/news_2.jpg',
		title: 'How Much Do You Owe For Lunch? You Deside',
		text: 'The bloodied bodies lay stuffed and tanglad in the back of a pickup like garbage.',
		comments: '12'
	},
	{
		img: './img/news_3.jpg',
		title: 'Reid eyes deal to end stalemate over funding',
		text: 'The bloodied bodies lay stuffed and tanglad in the back of a pickup like garbage.',
		comments: '12'
	},
	{
		img: './img/news_4.jpg',
		title: 'Wall street on debt Deal so what?',
		text: 'The bloodied bodies lay stuffed and tanglad in the back of a pickup like garbage.',
		comments: '12'
	}
] 
%}