<div class="head head--radius">
    <a href="#" class="head__title">Gruesome video shoes syria brutality</a>
    <p class="head__text head__text--arrow">
        As crackdowns against anti-government protesters continue across.
    </p>
</div>
<div class="hero" style="background-image: url(./img/prime_news.jpg)">
    <p class="hero__text">
        The bloodied bodies lay stuffed and tanglad in the back of a pickup like garbage. Men lifted the bodies one by one and hurled
        from them from a bridge into a river below as cursing filled the air.
    </p>
</div>